@model Company.WebApp.Models.ProjectDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayNameFor(model => model.Title): @Html.DisplayFor(model => model.Title)</h1>
<a asp-action="ChangeStatus" asp-route-projectId="@Model.Id"><h2>@Html.DisplayNameFor(model => model.Status): @Html.DisplayFor(model => model.Status)</h2></a>


@if (Model.EmployeeMaster == null)
{
    <h2>Главный сотрудник не назначен</h2>
    @if (User.IsInRole("admin"))
    {
        <a asp-controller="Projects" asp-action="AssigneToEmployee" asp-route-projectId=@Model.Id asp-route-isMaster=@true>Назначить главного сотрудника</a>
    }
}
else
{
    <h2>@Html.DisplayNameFor(model => model.EmployeeMaster): <a asp-controller="Employees" asp-action="Details" asp-route-empId=@Model.EmployeeMaster.Id>@Html.DisplayFor(model => model.EmployeeMaster.LastName) @Html.DisplayFor(model => model.EmployeeMaster.FirstName)</a></h2>
}

<h2>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</h2>

<h2>@Html.DisplayNameFor(model => model.Employees):</h2>
@if (Model.Employees == null ||Model.Employees.Count() == 0)
{
    <h3>Другие сотрудники не назначены</h3>
    @if (User.IsInRole("admin"))
    {
        <a asp-controller="Projects" asp-action="AssigneToEmployee" asp-route-projectId=@Model.Id>Назначить сотрудника</a>
    }
}
else
{
    @foreach (var e in Model.Employees)
{
    <h3>
        <a asp-controller="Employees" asp-action="Details" asp-route-empId=@e.Id>@e.LastName @e.FirstName @e.Email @e.PhoneNumber
        </a>
        @if (User.IsInRole("admin"))
        {
            <form asp-controller="Projects" asp-action="UnassigneToEmployee" asp-route-projectId="@Model.Id" asp-route-employeeId="@e.Id">
                <input type="submit" value="Снять с проекта" class="btn btn-sm btn-danger" />
            </form>
        }
        
    </h3>
}
    @if (User.IsInRole("admin"))
    {
        <a asp-controller="Projects" asp-action="AssigneToEmployee" asp-route-projectId=@Model.Id>Назначить сотрудника</a>
    }
}

<h2>@Html.DisplayNameFor(model => model.HistoryActions):</h2>
@if (Model.HistoryActions.Count() == 0)
{
    <p>История пуста</p>
}
else
{
    foreach (var history in Model.HistoryActions)
    {
        <p>@history.CreationTime --- @history.Title</p>
    }
}




